html {
  background: url(../img/bg.jpg) #222 no-repeat fixed top;
  background-size: cover; }

body,
header,
main {
  margin: 0;
  padding: 0; }

body {
  background: none; }

/* Main */
main {
  margin-top: 50px; }

/* Navbar */
.navbar {
  margin: 30px 0; }

.navbar-default {
  background: transparent;
  border: none; }

.navbar-nav > li {
  margin: 0 10px;
  border: 1px solid transparent; }

.navbar-nav > li:hover {
  border: 1px solid #fff;
  border-radius: 5px; }

.navbar-brand {
  color: white !important; }

.navbar-nav > li > a {
  color: white !important; }

/*  Highlight */
.highlight {
  margin: 20px auto 70px;
  height: 200px;
  text-align: center;
  color: #eee;
  line-height: 150%; }
  .highlight h1 {
    font-size: 500%;
    word-spacing: 65px;
    line-height: 150%; }
  .highlight h4 {
    margin-top: 10px;
    word-spacing: 30px;
    line-height: 150%; }

/* About section */
.about {
  background: #31708f;
  margin: 100px 0px 0px;
  padding: 40px; }
  .about img {
    height: 350px;
    width: 350px;
    transition: transform 1s;
    border-radius: 10px; }
  .about h4 {
    padding: 20px;
    color: #fff;
    text-align: justify;
    line-height: 35px;
    word-spacing: 5px; }
  .about .about-description {
    height: 335px;
    margin: 10px 0 0;
    background: #333;
    border-radius: 10px; }

/* Latest post */
.latest-post {
  background: #fff;
  padding: 20px;
  height: auto;
  margin: 150px 0 0; }
  .latest-post .ls-title {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-shadow: 3px 3px #555; }

/* Portfolio section */
.portfolio {
  background: #444;
  margin: 30px 0px 0px;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 30px; }
  .portfolio .pf-head {
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px gray;
    font-size: 300%; }

.pf {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .pf .pf-item {
    margin: 30px;
    padding: 10px;
    position: relative;
    text-align: center; }
    .pf .pf-item img {
      height: 250px;
      width: 250px;
      margin: 10px;
      transition: transform 1s; }
    .pf .pf-item .pf-info {
      display: none;
      border-radius: 10px;
      height: 290px;
      width: 290px;
      background: #337ab7;
      padding: 10px;
      color: #eee;
      position: absolute;
      top: 0;
      left: 0; }
      .pf .pf-item .pf-info h2 {
        margin: 5px auto 0;
        border-bottom: 1px solid #fff;
        border-radius: 100%;
        padding: 0 0 7px; }
      .pf .pf-item .pf-info h4 {
        margin: 40px 0 5px; }
      .pf .pf-item .pf-info p {
        margin: 20px auto; }
      .pf .pf-item .pf-info .pf-tools {
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        .pf .pf-item .pf-info .pf-tools span {
          font-size: 90%;
          border-radius: 5px;
          border: 1px solid #fff;
          padding: 5px;
          margin: 5px; }

/*Contact section*/
.contact {
  background: #3c763d;
  width: 100%;
  height: auto;
  margin: 50px 0px 0px;
  padding: 20px; }
  .contact .social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .contact .icon {
    margin: 20px; }
    .contact .icon i {
      color: #fff; }
  .contact .c-title {
    color: #ccc;
    text-align: center;
    text-shadow: 3px 3px gray; }

/* Blog */
.blog {
  background: #fff;
  padding: 30px 10px;
  margin: 60px 0; }

.post {
  margin: 30px 0 60px; }
  .post span {
    padding: 10px; }
  .post h1 a {
    color: #000; }
  .post h4 {
    word-spacing: 7px;
    line-height: 30px; }

.post-preview {
  height: auto;
  padding: 20px;
  margin: 30px 0; }
  .post-preview span {
    padding: 10px; }
  .post-preview h1 a {
    color: #000; }
  .post-preview h4 {
    word-spacing: 7px;
    line-height: 30px; }

/* Footer */
footer {
  background: #333;
  height: 100px;
  width: 100%;
  padding: 10px;
  margin: 50px 0 0; }
  footer h3 {
    text-align: center;
    color: white; }

/*# sourceMappingURL=style.css.map */
